.popup {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  background: rgb(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 99;
}
