.profile {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  padding-top: 40px
}

@media screen and (max-width: 955px) {
  .profile {
    max-width: calc(100% - 38px);
  }
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 38px;
    max-width: 100%;
    min-width: 320px;
    flex-direction: column;
    align-items: center;
  }

}
