.profile__edit {
  width: 24px;
  height: 24px;
  grid-column: 2 / 3;
  align-self: baseline;
  grid-area: button;
  padding: 0;
  margin: 0;
  border: none;
}

@media screen and (max-width: 768px) {
  .profile__edit {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 8px;
    right: 18px
  }
}

