.profile__information {
  margin: 22px 0 0 30px;
  width: 38.18%;
  display: grid;
  column-gap: 18px;
  row-gap: 16px;
  grid-template-columns: 87.5% 7.14%;
  grid-template-areas:
  "name button"
  "description description";
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .profile__information {
    width: 88.13%;
    margin: 26px auto 0;
    max-width: 282px;
    column-gap: 10px;
    row-gap: 8px;
    grid-template-columns: 83.33% 13.13%;
  }
}
