.popup__item {
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: inherit;
  padding-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  resize: none;
}

.popup__item::placeholder {
  color: #c4c4c4;
}

.popup__item:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

.popup__item:last-of-type {
  margin: 0;
}
