.cards__like-button {
  margin-right: 30px;
  padding: 0;
  border: none;
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url("../../../images/like_button.png");
  cursor: pointer;
  transition: opacity .2s linear;
}

.cards__like-button:hover {
  opacity: .5;
}
