.profile__image {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: all .2s linear;
  position: relative;
  z-index: -1;
}

/* .profile__image:hover {
  opacity: .6;
  transition: all .2s linear;
} */
