.cards__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-image: url("../../../images/delete_icon.svg");
  background-color: transparent;
  border: none;
  padding: 0;
  width: 18px;
  height: 18px;
}
