.popup__save {
  display: block;
  background-color: #000;
  color: #fff;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  width: 358px;
  margin: 48px auto 0;
  padding: 14px 0 18px;
  border-radius: 2px;
}


@media screen and (max-width: 768px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
  }
}
